.body{
    background-color: burlywood;
    height: 100vh;
    color: black;
}


.stack {
    background-color:midnightblue;
}
.body button{
    background: scroll;
    
}
.lg{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    height: 100vh;
    
}


.h1{
    text-transform: capitalize;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ss{
    /* background-image: url('D:\React\My project\job-role\src\Images\business-4328465.jpg'); */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    height: 100vh;
}

.skills{
    background-image: url('./Images/six.png');
    height: max-content;
}

.help{
    /* background-image: url('D:\React\My project\job-role\src\Images\business-3686656_1920.jpg'); */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    height: 100vh;
}
.about{
    /* background-image: url('D:\React\My project\job-role\src\Images\building-804526_1920.jpg'); */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    height: 100vh;
    background-color: sienna;
}


.loginsuccess{
    /* background-image: url('D:\React\My project\job-role\src\Images\boy-1294181_1920.png'); */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    height: 100vh;
}

.lu{
    /* background-image: url('D:\React\My project\job-role\src\Images\boy-1294181_1920.png'); */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    height: 100vh;
    padding-top: 15%;
    height: 520px;
}


.loginas{
    /* background-image: url('D:\React\My project\job-role\src\Images\annual-rings-3212803_1920.jpg'); */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    height: 100vh;
    padding-top: 15%;
    height: 520px;
}

.loginas p{
    font-size: large;
}


.goback2{
    padding-top: 299px;
    padding-right: 95%;
    padding-left: 0%;
    
}




.goback1{
    padding-top: 600px;
    padding-right: 95%;
    padding-left: 0%;
}


.goback3{
    padding-top: 300px;
    padding-right: 95%;
    padding-left: 0%;

}


.ul1{
    flex: 1;
    text-align: center;
}


.ul1 li{
    display: inline-block;
    margin: 0 40px;
}


.btn{
    background-color: black;
    
}



h2{
    text-align: left;
    padding-left: 30px;
    color: red;
}


fieldset{
    background-color: cornsilk;
    text-align: center;
    width: fit-content;
}

#ah{
    color: brown;
}
#fs{
    background-color: darkgray;
}


.loginpage{
    background-color: midnightblue;
    height: 100vh;
}